<html>
    <head>
        <title>Mail</title>
        
    </head>
    <body>
        <p>
            Hello <%= user.name %>, wants to contact you .<br><b>Message</b> :<i><%= msg %></i> <br> 
        </p>
        
        <a href="<%= link1 %>"><button type="button" style="background-color: green; color: white; width: 100px; height: 40px; border: 2px solid white; border-radius: 5px;">Success</button></a>
        <a href="<%= link2 %>"><button type="button" style="background-color: red; color: white; width: 100px; height: 40px; border: 2px solid white; border-radius: 5px;">Reject</button></a>
    </body>
</html>