<%- include('../header'); -%>

<main id="main">
    <div class="section-title mt-5">
        <h2>Value your waste</h2>
        <p>Never underestimate the potential your wastes might have. Share us the image and get to know the true potential</p>
      </div>
    <div class="jumbotron" style="height: 100%;;background-image: url('../assets/searches/paper.jpg');background-size: cover;">
        <h1 class="display-4 mt-2"><b style="color: #fff4df;">Paper Detected !!</b></h1>
        <p class="lead mt-3" style="color: #fff4df;font-weight: bold;">Paper is a thin sheet material produced by mechanically and/or chemically processing cellulose fibres derived from wood, rags, grasses or other vegetable sources in water.</p>
        <hr class="my-5">
        <p class="mb-4" style="color: #fff4df;">Follow the mentioned information to know the actual potential of the materials   .</p>
        <p class="lead">
          <a class="btn btn-success btn-lg" href="#info" role="button">Learn more</a>
        </p>
      </div>

      <div class="container my-5" id="info">
        <div class="section-title mt-5">
            <h2>Relevant Website</h2>
            <p>This website gives a rough idea of the potential your item carries.</p>
          </div>
        <div> 
            <object type="text/html" data="https://en.wikipedia.org/wiki/Paper_recycling#:~:text=The%20process%20of%20waste%20paper,is%20called%20pulp%2C%20or%20slurry." width="100%" height="700px" style="overflow:auto;">
            </object>
        </div>
       </div>
       <hr>     
        <div class="section-title my-5">
            <h2>Relevant Tutorials</h2>
            <p>This website gives a rough idea of the potential your item carries.</p>
          </div>

          <div class="container my-5"> 
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="100%" height="275" src="https://www.youtube.com/embed/vXsl7zxADV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="100%" height="275" src="https://www.youtube.com/embed/cKolHQe25Fk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
        <hr class="mb-5">
         <div class="section-title mt-5">
            <h2>Want to help others</h2>
            <p>The material will surely be of use for someone. Click the button below to post your material into our site</p>
          </div>

          <center>
              <a href="/nonbiodegradable/upload" class="btn btn-success mb-5 py-3 px-5"><b>Share Material</b></a>
          </center>
      </div>
</main>
<%- include('../footer'); -%>